<h4 class="media align-items-center font-weight-bold py-0 mb-3">
  <div class="media-body">
    <span class="text-muted font-weight-light"></span>Administrar Consultas
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Administra las consultas hechas en las
        instituciones</small></div>
  </div>
</h4>

<div *ngIf="main_view" class="fade-in">
  <div class="col mb-3">
    <button class="float-right btn btn-success btn-sm" (click)="consulta_modal.show()"><i class="fa fa-check"></i> Agregar
      Consulta</button>
  </div>
  <datatable #consulta_datatable_ref [options]="consultas_datatable" [loading]="consultas_loading_datatable"
    [data_array]="consultas">
  </datatable>
</div>

<div *ngIf="creating_consult_view" class="fade-in">
  <div class="container-m-nx container-p-x pt-2 text-right mb-2">
    <button (click)="open_main_view()" class="mb-2 ml-2 btn btn-sm rounded-pill btn-danger"><i
        class="fa fa-arrow-left mr-2"></i>Regresar</button>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs nav-responsive-md">
        <li (click)="show_medicamentos()" class="nav-item" style="cursor: pointer;">
          <span class="nav-link" [class.active]="show_meds"><b [class.text-primary]="show_meds">Medicamentos</b></span>
        </li>
        <li (click)="show_insumos()" class="nav-item" style="cursor: pointer;">
          <span class="nav-link" [class.active]="!show_meds"><b [class.text-primary]="!show_meds">Insumos</b></span>
        </li>
      </ul>
      <div class="custom-nav-content" *ngIf="show_meds">
        <datatable [options]="inventory_medicamento_datatable" (option_event)="medicamentos_datatable_events($event)"
          [loading]="medicamentos_datatable_loading" [data_array]="inventory">
        </datatable>
      </div>
      <div class="custom-nav-content" *ngIf="!show_meds">
        <datatable [options]="inventory_insumo_datatable" (option_event)="insumos_datatable_events($event)"
          [loading]="insumos_datatable_loading" [data_array]="inventory">
        </datatable>
      </div>
    </div>
  </div>
  <div *ngIf="selected_products.length > 0" class="col-12 d-flex justify-content-center">
    <div class="card">
      <div class="card-content mt-4 ml-4 mb-4 mr-4">
        <h4 class="text-center media align-items-center font-weight-bold py-0 mb-3">
          <div class="media-body">
            <span class="text-muted font-weight-light"></span>Productos Seleccionados
          </div>
        </h4>
        <form role="form" novalidate="novalidate" #inventory_in_form="ngForm" autocomplete="off">
          <div class="row" *ngFor="let product of selected_products; let i = index">
            <div class="d-flex align-items-center col-6">
              <h6>{{product.nombre}} - {{product.nombre_comercial}} - {{product.presentacion}}</h6>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label"><i class="fa fa-asterisk text-danger mr-2"></i>Cantidad</label>
                <input #quantity="ngModel" name="quantity{{i}}" [placeholder]="'- Valor -'"
                  [(ngModel)]="product.quantity" [textMask]="{mask: integer_mask}" type="text" class="form-control"
                  [class.is-invalid]="quantity.invalid && submitted" [required]="true" [disabled]="false"
                  pattern="^[+-]?(\d{1,3}(,\d{3})*(\.\d+)?)$">
                <small *ngIf="quantity.errors" class="invalid-feedback"><i class="fa fa-exclamation-triangle mr-1"></i>
                  <span *ngIf="quantity.errors.required">El campo es requerido</span>
                  <span *ngIf="quantity.errors.pattern">Formato Inválido</span>
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-success btn-sm" (click)="insert_consulta()"><i class="fa fa-check"></i> Registrar
          Consulta</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #consulta_modal="bs-modal" [config]="{backdrop: 'static', keyboard:false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="mb-0"><i class="fa fa-filter mr-2"></i>Registrar Consulta</h5>
      </div>
      <div class="modal-body custom-modal-body fade-in">
        <div class="container-m-nx container-p-x pt-2 text-right mb-2">
          <button *ngIf="step !== 1" (click)="return()" class="mb-2 ml-2 btn btn-sm rounded-pill btn-danger"><i
              class="fa fa-arrow-left mr-2"></i>Regresar</button>
        </div>
        <div *ngIf="step === 1" class="row">
          <div class="col-12">
            <h5 class="text-center">A continuacion porfavor seleccione una institucion</h5>
            <datatable [options]="instituciones_datatable" [loading]="instituciones_datatable_loading"
              [data_array]="instituciones" (option_event)="select_institucion($event)">
            </datatable>
          </div>
        </div>
        <div *ngIf="step === 2" class="row">
          <div class="col-12">
            <h5 class="text-center">A continuacion porfavor seleccione un doctor</h5>
            <datatable [options]="medicos_datatable" [loading]="doctors_datatable_loading"
              [data_array]="doctors" (option_event)="select_doctor($event)">
            </datatable>
          </div>
        </div>
        <div *ngIf="step === 3" class="row">
          <div class="col-12">
            <h5 class="text-center">A continuacion porfavor seleccione un estudiante</h5>
            <datatable [options]="patients_datatable" [loading]="patients_datatable_loading"
              [data_array]="patients" (option_event)="select_student($event)">
            </datatable>
          </div>
        </div>
        <div *ngIf="step === 4" class="row">
          <div class="col-12">
            <h5 class="text-center">Datos de la Consulta</h5>
            <form-renderer #consultas_form [config]="consulta_inputs"></form-renderer>
            <button class="float-right btn btn-success btn-sm" (click)="register_form_data()"><i class="fa fa-check"></i>Aceptar</button>
          </div>
        </div>
        <div *ngIf="step === 5" class="row">
          <div class="col-12">
            <h5 class="text-center">A continuacion porfavor seleccione los productos utilizados</h5>
            <ul class="nav nav-tabs nav-responsive-md">
              <li (click)="show_medicamentos()" class="nav-item" style="cursor: pointer;">
                <span class="nav-link" [class.active]="show_meds"><b
                    [class.text-primary]="show_meds">Medicamentos</b></span>
              </li>
              <li (click)="show_insumos()" class="nav-item" style="cursor: pointer;">
                <span class="nav-link" [class.active]="!show_meds"><b [class.text-primary]="!show_meds">Insumos</b></span>
              </li>
            </ul>
            <div class="custom-nav-content" *ngIf="show_meds">
              <div class="fade-in">
                <div class="row">
                  <div class="col-12">
                    <div class="fade-in">
                      <datatable #medicamentos_datatable_ref [options]="medicamentos_datatable"
                        [loading]="medicamentos_datatable_loading" [data_array]="medicamentos"
                        (option_event)="medicamentos_datatable_events($event)">
                      </datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-nav-content" *ngIf="!show_meds">
              <div class="fade-in">
                <div class="container-m-nx container-p-x pt-2 text-right mb-2">
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="fade-in">
                      <datatable #insumos_datatable_ref [options]="insumos_datatable" [loading]="insumos_datatable_loading"
                        [data_array]="insumos" (option_event)="insumos_datatable_events($event)">
                      </datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selected_products.length > 0" class="d-flex justify-content-center">
              <div class="card">
                <div class="card-content mt-4 ml-4 mb-4 mr-4">
                  <form role="form" novalidate="novalidate" #inventory_in_form="ngForm" autocomplete="off">
                    <div class="row" *ngFor="let product of selected_products; let i = index">
                      <div class="d-flex align-items-center col-8">
                        <h6>{{product.nombre}} - {{product.nombre_comercial}} - {{product.presentacion}}</h6>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label class="form-label"><i class="fa fa-asterisk text-danger mr-2"></i>Cantidad</label>
                          <input #quantity="ngModel" name="used{{i}}" [placeholder]="'- Valor -'" [(ngModel)]="product.used"
                            [textMask]="{mask: integer_mask}" type="text" class="form-control"
                            [class.is-invalid]="quantity.invalid && submitted" [required]="true" [disabled]="false"
                            pattern="^[+-]?(\d{1,3}(,\d{3})*(\.\d+)?)$">
                          <small *ngIf="quantity.errors" class="invalid-feedback"><i
                              class="fa fa-exclamation-triangle mr-1"></i>
                            <span *ngIf="quantity.errors.required">El campo es requerido</span>
                            <span *ngIf="quantity.errors.pattern">Formato Inválido</span>
                          </small>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer text-left">
        <button class="btn btn-danger btn-sm" (click)="hide_modal()"><i class="fa fa-times"></i>
          Cerrar</button>
        <button *ngIf="step === 5" class="btn btn-success btn-sm" (click)="insert_consulta()"><i class="fa fa-check"></i>
          Registrar</button>
      </div>
    </div>
  </div>
</div>
