.calendar-button{
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
	background-color: #17b3a3;
	color:#fff;
}

.calendar-white{
	cursor: pointer; 
	background-color: #fff !important;
}

.calendar-grey{

}

.owl-dt-trigger-disabled{
	opacity: 1 !important;
}