<h4 class="media align-items-center font-weight-bold py-0 mb-3">
  <div class="media-body">
    <span class="text-muted font-weight-light"></span>Administrar Alumnos
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Administra los alumnos</small></div>
  </div>
</h4>

<div class="fade-in">
  <datatable #alumnos_datatable_ref
    [options]="alumnos_datatable"
    [loading]="alumnos_datatable_loading"
    [data_array]="alumnos"
    >
  </datatable>
  <button class="float-right btn btn-success btn-sm" (click)="open_insert_alumno()"><i class="fa fa-check"></i> Agregar
    Alumno</button>
</div>

<div bsModal #alumnos_modal="bs-modal" [config]="{backdrop: 'static', keyboard:false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="mb-0"><i class="fa fa-user-md mr-2"></i>Adicionar Alumno</h5>
      </div>
      <div class="modal-body custom-modal-body fade-in">
        <div [hidden]="!alumno_main_view" class="fade-in">
          <div class="col-12 text-center">
            <h4>
              Datos Generales
            </h4>
          </div>
          <form-renderer #alumno_form [config]="alumno_inputs">
          </form-renderer>
          <div class="col-md-12 pt-5">
            <div class="table-responsive">
              <table class="table">
                <thead style="background-color: #fff;">
                  <tr>
                    <th class="p-2 w-25">Nombre</th>
                    <th class="p-2 w-50">Correo</th>
                    <th class="p-2 w-25">Telefono</th>
                    <th class="p-2 text-center" style="width: 1%;">OP</th>
                  </tr>
                </thead>
                <tbody *ngIf="alumno_contacts.length > 0">
                  <tr *ngFor="let x of alumno_contacts; let i = index">
                    <th class="p-2">{{x.emergency_contact_name}}</th>
                    <th class="p-2">{{x.emergency_contact_email}}</th>
                    <td class="p-2">{{x.emergency_contact_phone}}</td>
                    <td  class="p-2" class="text-center custom-datatable-red"><i
                        class="fa fa-times mr-2 ml-2"></i></td>
                  </tr>
                </tbody>
                <tbody *ngIf="alumno_contacts.length == 0">
                  <tr [class.custom-table-error]="alumno_contacts.length == 0">
                    <th colspan="3" class="text-center text-danger p-2">No se han agregado contactos de emergencia</th>
                  </tr>
                </tbody>
              </table>
              <div class="text-center">
                <button (click)="open_add_alumno_contacto()" class="btn btn-sm btn-info"><i class="fa fa-user mr-2"></i>Agregar
                  Contacto</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="alumno_contacto_view" class="row">
          <div class="col-12">
            <form-renderer #alumno_contact_form [config]="alumno_contacto_inputs"></form-renderer>
          </div>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer text-left">
        <button *ngIf="alumno_main_view"
          class="btn btn-danger btn-sm" (click)="alumnos_modal.hide();"><i class="fa fa-times"></i> Cerrar</button>
        <button *ngIf="alumno_main_view" class="btn btn-success btn-sm"
          (click)="insert_alumno()"><i class="fa fa-check"></i> Registrar
          Alumno</button>
        <button *ngIf="alumno_contacto_view" class="btn btn-danger btn-sm"
          (click)="return_alumno_main_view()"><i class="fa fa-arrow-left"></i>
          Regresar</button>
        <button *ngIf="alumno_contacto_view" class="btn btn-success btn-sm"
          (click)="add_alumno_contacto()"><i class="fa fa-check"></i> Agregar
          Contacto</button>
      </div>
    </div>
  </div>
</div>
