<!-- BREADCRUMBS -->
<h4 class="media align-items-center font-weight-bold py-0 mb-3">
  <div class="media-body">
    <span class="text-muted font-weight-light"></span>Administrar Instituciones
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Administra tus instituciones y sus
        alumnos</small></div>
  </div>
</h4>
<!-- END BREADCRUMBS -->

<!-- CONTENT -->
<div class="fade-in" [hidden]="view!=1">
  <div class="container-m-nx container-p-x pt-2 text-right mb-2">
    <button [disabled]="instituciones_datatable_loading" (click)="clean_search_instituciones()"
      class="mb-2 ml-2 btn btn-sm rounded-pill btn-warning"><i class="fa fa-ban mr-2"></i>Limpiar Filtro</button>
    <button [disabled]="instituciones_datatable_loading" (click)="instituciones_open_search()"
      class="mb-2 ml-2 btn btn-sm rounded-pill btn-info"><i class="fa fa-filter mr-2"></i>Buscar
      Instituciones</button>
    <button [disabled]="instituciones_datatable_loading" (click)="open_insert_institucion()"
      class="mb-2 ml-2 btn btn-sm rounded-pill btn-success"><i class="fa fa-graduation-cap mr-2"></i>Registrar
      Institución</button>
  </div>

  <service-datatable #instituciones_datatable_ref [datatable_options]="instituciones_datatable"
    (option_event)="instituciones_datatable_events($event)"
    (get_results_offset_change)="instituciones_datatable_get_results_offset_change($event)"
    (get_results_filter_change)="instituciones_datatable_get_results_filter_change($event)"
    (get_results_update_list)="instituciones_datatable_get_results_update_list($event)">
  </service-datatable>


</div>
<div class="fade-in" *ngIf="view==2">
  <div class="container-m-nx container-p-x pt-2 text-right mb-2">
    <button [disabled]="loading" (click)="close_institucion()" class="mb-2 ml-2 btn btn-sm rounded-pill btn-danger"><i
        class="fa fa-arrow-left mr-2"></i>Regresar</button>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <button style="position: absolute; align-self: flex-end;" (click)="open_update_institucion(instituciones_data)"
          class="btn">
          <i class="fas fa-edit"></i>
        </button>
        <div class="card-header">
          <h3 class="text-center">
            <i class="fa fa-graduation-cap fa-2x text-primary mb-2"></i>
            <br>
            {{instituciones_data.nombre}}
          </h3>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Datos Generales </h5>
          <div class="row">
            <div class="col-12">
              <span class="font-weight-bold float-left">Nombre: </span>
              <span class="float-right">{{instituciones_data.nombre}}</span>
            </div>
            <div class="col-12">
              <span class="font-weight-bold float-left">Correo: </span>
              <span class="float-right">{{instituciones_data.correo}}</span>
            </div>
            <div class="col-12">
              <span class="font-weight-bold float-left">Direccion: </span>
              <span class="float-right">{{instituciones_data.direccion}}</span>
            </div>
            <hr>
            <div class="col-12">
              <span class="font-weight-bold float-left">Departamento: </span>
              <span class="float-right">{{instituciones_data.departamento}}</span>
            </div>
            <div class="col-12">
              <span class="font-weight-bold float-left">Ciudad: </span>
              <span class="float-right">{{instituciones_data.ciudad}}</span>
            </div>
            <hr>
            <div class="col-12">
              <span class="font-weight-bold float-left">Tipo: </span>
              <span class="float-right">{{instituciones_data.tipo}}</span>
            </div>
            <hr>
          </div>
          <h5 class="card-title text-center">Contactos </h5>
          <div *ngFor=" let contacto of instituciones_data.contactos" class="row">
            <div class="col-6">
              <span class="font-weight-bold float-left">{{contacto.cargo}}: </span>
              <span class="float-right">{{contacto.nombre}}</span>
            </div>
            <div class="col-6">
              <span class="font-weight-bold float-left">Telefono: </span>
              <span class="float-right">{{contacto.celular}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <ul class="nav nav-tabs nav-responsive-md">
        <li (click)="open_doctores()" class="nav-item" style="cursor: pointer;">
          <span class="nav-link" [class.active]="inner_view==1"><b
              [class.text-primary]="inner_view==1">Doctores</b></span>
        </li>
        <li (click)="open_alumnos()" class="nav-item" style="cursor: pointer;">
          <span class="nav-link" [class.active]="inner_view==2"><b
              [class.text-primary]="inner_view==2">Alumnos</b></span>
        </li>
        <li (click)="open_medicamentos()" class="nav-item" style="cursor: pointer;">
          <span class="nav-link" [class.active]="inner_view==3"><b
              [class.text-primary]="inner_view==3">Medicamentos</b></span>
        </li>
        <li (click)="open_insumos()" class="nav-item" style="cursor: pointer;">
          <span class="nav-link" [class.active]="inner_view==4"><b
              [class.text-primary]="inner_view==4">Insumos</b></span>
        </li>
      </ul>
      <div class="custom-nav-content" *ngIf="inner_view==1">
        <div class="table-responsive">
          <table class="table">
            <thead style="background-color: #fff;">
              <tr>
                <th class="p-2 w-25">Nombre</th>
                <th class="p-2 w-50">Apellido</th>
                <th class="p-2 w-25">Correo</th>
                <th class="p-2 text-center" style="width: 1%;">Opciones</th>
              </tr>
            </thead>
            <tbody *ngIf="instituciones_data.doctores.length > 0">
              <tr *ngFor="let x of instituciones_data.doctores; let i = index">
                <th class="p-2">{{x.first_name}}</th>
                <th class="p-2">{{x.last_name}}</th>
                <td class="p-2">{{x.email}}</td>
                <td (click)="remove_doctor(i)" class="p-2" class="text-center custom-datatable-red"><i
                    class="fa fa-times mr-2 ml-2"></i></td>
              </tr>
            </tbody>
            <tbody *ngIf="instituciones_data.doctores.length == 0">
              <tr [class.custom-table-error]="instituciones_data.doctores.length == 0">
                <th colspan="3" class="text-center text-danger p-2">No se han agregado doctores
                  a la institución</th>
              </tr>
            </tbody>
          </table>
          <button class="float-right btn btn-success btn-sm" (click)="add_doctor()"><i class="fa fa-check"></i> Agregar
            Médico</button>
        </div>
      </div>
      <div class="custom-nav-content" *ngIf="inner_view==2">
        <div class="table-responsive">
          <table class="table">
            <thead style="background-color: #fff;">
              <tr>
                <th class="p-2 w-25">Nombre</th>
                <th class="p-2 w-25">Apellido</th>
                <th class="p-2 w-25">Grado</th>
                <th class="p-2 w-25">Seccion</th>
                <th class="p-2 text-center" style="width: 1%;">Opciones</th>
              </tr>
            </thead>
            <tbody *ngIf="instituciones_data.alumnos.length > 0">
              <tr *ngFor="let x of instituciones_data.alumnos; let i = index">
                <th class="p-2">{{x.first_name}}</th>
                <th class="p-2">{{x.last_name}}</th>
                <td class="p-2">{{x.grado}}</td>
                <td class="p-2">{{x.seccion}}</td>
                <td (click)="remove_doctor(i)" class="p-2" class="text-center custom-datatable-red"><i
                    class="fa fa-times mr-2 ml-2"></i></td>
              </tr>
            </tbody>
            <tbody *ngIf="instituciones_data.alumnos.length == 0">
              <tr [class.custom-table-error]="instituciones_data.alumnos.length == 0">
                <th colspan="3" class="text-center text-danger p-2">No se han agregado alumnos
                  a la institución</th>
              </tr>
            </tbody>
          </table>
          <button class="float-right btn btn-success btn-sm" (click)="open_insert_alumno()"><i class="fa fa-check"></i> Agregar
            Alumno</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CONTENT -->

<!-- MODALS -->
<div bsModal #instituciones_modal="bs-modal" [config]="{backdrop: 'static', keyboard:false}" class="modal fade"
  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 *ngIf="instituciones_modal_view==1" class="mb-0"><i class="fa fa-graduation-cap mr-2"></i>Registrar
          Institución</h5>
        <h5 *ngIf="instituciones_modal_view==2" class="mb-0"><i class="fa fa-graduation-cap mr-2"></i>Editar
          Institución</h5>
      </div>
      <div class="modal-body custom-modal-body fade-in">
        <div class="cover-div" *ngIf="instituciones_loading">
          <div class="sk-wave sk-primary">
            <div class="sk-rect sk-rect1 custom-loader"></div>
            <div class="sk-rect sk-rect2 custom-loader"></div>
            <div class="sk-rect sk-rect3 custom-loader"></div>
            <div class="sk-rect sk-rect4 custom-loader"></div>
            <div class="sk-rect sk-rect5 custom-loader"></div>
          </div>
        </div>
        <div [hidden]="instituciones_modal_view==3" class="fade-in">
          <form-renderer #instituciones_form [config]="instituciones_inputs">
          </form-renderer>
          <div class="form-group">
            <label><b><i class="fa fa-asterisk text-danger mr-2"></i>Contactos</b></label>
            <div class="table-responsive">
              <table class="table">
                <thead style="background-color: #fff;">
                  <tr>
                    <th class="p-2 w-25">Cargo</th>
                    <th class="p-2 w-50">Nombre</th>
                    <th class="p-2 w-25">Celular</th>
                    <th class="p-2 text-center" style="width: 1%;">OP</th>
                  </tr>
                </thead>
                <tbody *ngIf="instituciones_contactos.length > 0">
                  <tr *ngFor="let x of instituciones_contactos; let i = index">
                    <th class="p-2">{{x.cargo}}</th>
                    <th class="p-2">{{x.nombre}}</th>
                    <td class="p-2">{{x.celular}}</td>
                    <td (click)="remove_contacto(i)" class="p-2" class="text-center custom-datatable-red">
                      <i class="fa fa-times mr-2 ml-2"></i>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="instituciones_contactos.length == 0">
                  <tr [class.custom-table-error]="instituciones_contactos.length == 0">
                    <th colspan="3" class="text-center text-danger p-2">No se han agregado contactos
                      de la institución</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center">
              <button (click)="open_add_contacto()" class="btn btn-sm btn-info"><i class="fa fa-user mr-2"></i>Agregar
                Contacto</button>
            </div>
          </div>
        </div>
        <div [hidden]="instituciones_modal_view!=3" class="fade-in">
          <form role="form" novalidate="novalidate" #contacto_form="ngForm" autocomplete="off">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label"><i class="fa fa-asterisk text-danger mr-2"></i>Nombre del
                    Contacto</label>
                  <input #contacto_nombre="ngModel" name="contacto_nombre" class="form-control" placeholder=""
                    [(ngModel)]="contacto_data.nombre" type="text"
                    [class.is-invalid]="contacto_nombre.invalid && contacto_submitted" maxlength="100" required="true">
                  <small *ngIf="contacto_nombre.errors" class="invalid-feedback"><i
                      class="fa fa-exclamation-triangle mr-1"></i>
                    <span *ngIf="contacto_nombre.errors.required">Requerido</span>
                  </small>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="form-label"><i class="fa fa-asterisk text-danger mr-2"></i>Cargo</label>
                  <input #contacto_cargo="ngModel" name="contacto_cargo" class="form-control" placeholder=""
                    [(ngModel)]="contacto_data.cargo" type="text"
                    [class.is-invalid]="contacto_cargo.invalid && contacto_submitted" maxlength="100" required="true">
                  <small *ngIf="contacto_cargo.errors" class="invalid-feedback"><i
                      class="fa fa-exclamation-triangle mr-1"></i>
                    <span *ngIf="contacto_cargo.errors.required">Requerido</span>
                  </small>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="form-label"><i class="fa fa-asterisk text-danger mr-2"></i>Celular</label>
                  <input #contacto_celular="ngModel" name="contacto_celular" class="form-control" placeholder=""
                    [(ngModel)]="contacto_data.celular" [textMask]="{mask: phone_mask, keepCharPositions:true}"
                    pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$" type="text"
                    [class.is-invalid]="contacto_celular.invalid && contacto_submitted" required="true">
                  <small *ngIf="contacto_celular.errors" class="invalid-feedback"><i
                      class="fa fa-exclamation-triangle mr-1"></i>
                    <span *ngIf="contacto_celular.errors.required">Requerido</span>
                    <span *ngIf="contacto_celular.errors.pattern">Formato Inválido</span>
                  </small>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer text-left">
        <button *ngIf="instituciones_modal_view==1 || instituciones_modal_view==2" [disabled]="instituciones_loading"
          class="btn btn-danger btn-sm" (click)="instituciones_modal.hide()"><i class="fa fa-times"></i> Cerrar</button>
        <button *ngIf="instituciones_modal_view==1" [disabled]="instituciones_loading" class="btn btn-success btn-sm"
          (click)="insert_institucion()"><i class="fa fa-check"></i> Registrar
          Institución</button>
        <button *ngIf="instituciones_modal_view==2" [disabled]="instituciones_loading" class="btn btn-warning btn-sm"
          (click)="update_institucion()"><i class="fa fa-edit"></i> Editar
          Institución</button>
        <button *ngIf="instituciones_modal_view==3" [disabled]="instituciones_loading" class="btn btn-danger btn-sm"
          (click)="close_add_contacto()"><i class="fa fa-arrow-left"></i>
          Regresar</button>
        <button *ngIf="instituciones_modal_view==3" [disabled]="instituciones_loading" class="btn btn-success btn-sm"
          (click)="add_contacto()"><i class="fa fa-check"></i> Agregar
          Contacto</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #doctores_modal="bs-modal" [config]="{backdrop: 'static', keyboard:false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="mb-0"><i class="fa fa-user-md mr-2"></i>Adicionar Médico</h5>
      </div>
      <div class="modal-body custom-modal-body fade-in">
        <div class="container-m-nx container-p-x pt-2 text-right mb-2">
          <button *ngIf="!insert_doctor_main_view" [disabled]="loading" (click)="return_insert_view()" class="mb-2 ml-2 btn btn-sm rounded-pill btn-danger"><i
              class="fa fa-arrow-left mr-2"></i>Regresar</button>
        </div>
        <div class="cover-div" *ngIf="instituciones_loading">
          <div class="sk-wave sk-primary">
            <div class="sk-rect sk-rect1 custom-loader"></div>
            <div class="sk-rect sk-rect2 custom-loader"></div>
            <div class="sk-rect sk-rect3 custom-loader"></div>
            <div class="sk-rect sk-rect4 custom-loader"></div>
            <div class="sk-rect sk-rect5 custom-loader"></div>
          </div>
        </div>
        <div [hidden]="!insert_doctor_main_view" class="fade-in">
          <div class="col-12 text-center">
            <h4>
              Datos Generales
            </h4>
          </div>
          <form-renderer #doctor_form [config]="doctors_inputs">
          </form-renderer>
          <div class="col-md-12 text-right">
            <button class="btn btn-sm btn-outline-success" (click)="add_jornada()">Agregar Horas Laborales</button>
            <button class="btn btn-sm btn-outline-success" (click)="add_antecedentes()">Agregar Antecedents</button>
            <button class="btn btn-sm btn-outline-success" (click)="add_academic_info()">Agregar Información Académica</button>
          </div>
        </div>
        <div *ngIf="jornada_view" class="row">
          <div class="col-12 text-center">
            <h4>
              Jornada de Trabajo
            </h4>
          </div>
          <div class="col-12">
            <form-renderer #jornada_form [config]="jornadas_inputs"></form-renderer>
          </div>
          <div class="col-12">
            <div class="input-group-append float-right">
                <button class="btn btn-secondary mr-2" name="cancelar"
                (click)="cancel_doctor_schedule()"><i class="fa fa-check"></i> Cancelar</button>
                <button class="btn btn-success" name="agregar"
                (click)="add_doctor_schedule()"><i class="fa fa-check"></i>Agregar</button>
            </div>
          </div>
          <div class="col-md-12 pt-5">
            <div class="table-responsive">
              <table class="table">
                <thead style="background-color: #fff;">
                  <tr>
                    <th class="p-2 w-25">Dias</th>
                    <th class="p-2 w-50">Inicio de Jornada</th>
                    <th class="p-2 w-25">Fin de Jornada</th>
                    <th class="p-2 text-center" style="width: 1%;">OP</th>
                  </tr>
                </thead>
                <tbody *ngIf="doctor_schedule.length > 0">
                  <tr *ngFor="let x of doctor_schedule; let i = index">
                    <th class="p-2">{{x.hours_day}}</th>
                    <th class="p-2">{{x.hours_start}}</th>
                    <td class="p-2">{{x.hours_end}}</td>
                    <td (click)="remove_doctor_hours(i)" class="p-2" class="text-center custom-datatable-red"><i
                        class="fa fa-times mr-2 ml-2"></i></td>
                  </tr>
                </tbody>
                <tbody *ngIf="doctor_schedule.length == 0">
                  <tr [class.custom-table-error]="doctor_schedule.length == 0">
                    <th colspan="3" class="text-center text-danger p-2">No se han agregado horas de trabajo</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="antecedentes_view" class="row">
          <div class="col-12 text-center">
            <h4>
              Antecedentes
            </h4>
          </div>
          <div class="col-12">
            <form-renderer #antecedentes_form [config]="antecedentes_inputs"></form-renderer>
          </div>
          <div class="col-12">
            <div class="input-group-append float-right">
                <button class="btn btn-secondary mr-2" name="cancelar"
                (click)="cancel_doctor_antecedente()"><i class="fa fa-check"></i> Cancelar</button>
                <button class="btn btn-success" name="agregar"
                (click)="add_doctor_antecedente()"><i class="fa fa-check"></i>Agregar</button>
            </div>
          </div>
          <div class="col-md-12 pt-5">
            <div class="table-responsive">
              <table class="table">
                <thead style="background-color: #fff;">
                  <tr>
                    <th class="p-2 w-25">Fecha</th>
                    <th class="p-2 w-50">Descripcion</th>
                    <th class="p-2 text-center" style="width: 1%;">OP</th>
                  </tr>
                </thead>
                <tbody *ngIf="antecedentes.length > 0">
                  <tr *ngFor="let x of antecedentes; let i = index">
                    <th class="p-2">{{x.antecedente_date}}</th>
                    <th class="p-2">{{x.antecedente_desc}}</th>
                    <td (click)="remove_antecedente(i)" class="p-2" class="text-center custom-datatable-red"><i
                        class="fa fa-times mr-2 ml-2"></i></td>
                  </tr>
                </tbody>
                <tbody *ngIf="antecedentes.length == 0">
                  <tr [class.custom-table-error]="antecedentes.length == 0">
                    <th colspan="3" class="text-center text-danger p-2">No se han agregado antecedentes</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="academic_view" class="row">
          <div class="col-12 text-center">
            <h4>
              Información Académica
            </h4>
          </div>
          <div class="col-12">
            <form-renderer #academic_form [config]="academic_inputs" ></form-renderer>
          </div>
          <div class="col-12">
            <div class="input-group-append float-right">
                <button class="btn btn-secondary mr-2" name="cancelar"
                (click)="cancel_doctor_academics()"><i class="fa fa-check"></i> Cancelar</button>
                <button class="btn btn-success" name="agregar"
                (click)="add_doctor_academics()"><i class="fa fa-check"></i>Agregar</button>
            </div>
          </div>
          <div class="col-md-12 pt-5">
            <div class="table-responsive">
              <table class="table">
                <thead style="background-color: #fff;">
                  <tr>
                    <th class="p-2 w-25">Institución</th>
                    <th class="p-2 w-50">Título/Certificado</th>
                    <th class="p-2 w-25">Fecha</th>
                    <th class="p-2 text-center" style="width: 1%;">OP</th>
                  </tr>
                </thead>
                <tbody *ngIf="academic_data.length > 0">
                  <tr *ngFor="let x of academic_data; let i = index">
                    <th class="p-2">{{x.academic_institution}}</th>
                    <th class="p-2">{{x.academic_title}}</th>
                    <th class="p-2">{{x.academic_date}}</th>
                    <td (click)="remove_antecedente(i)" class="p-2" class="text-center custom-datatable-red"><i
                        class="fa fa-times mr-2 ml-2"></i></td>
                  </tr>
                </tbody>
                <tbody *ngIf="academic_data.length == 0">
                  <tr [class.custom-table-error]="academic_data.length == 0">
                    <th colspan="3" class="text-center text-danger p-2">No se ha agregado información Académica</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer text-left">
        <button *ngIf="instituciones_modal_view==1 || instituciones_modal_view==2" [disabled]="instituciones_loading"
          class="btn btn-danger btn-sm" (click)="doctores_modal.hide();return_insert_view()"><i class="fa fa-times"></i> Cerrar</button>
        <button *ngIf="doctor_modal_view==1" [disabled]="instituciones_loading" class="btn btn-success btn-sm"
          (click)="insert_doctor()"><i class="fa fa-check"></i> Registrar
          Médico</button>
        <button *ngIf="doctor_modal_view==3" [disabled]="instituciones_loading" class="btn btn-danger btn-sm"
          (click)="close_add_contacto()"><i class="fa fa-arrow-left"></i>
          Regresar</button>
        <button *ngIf="doctor_modal_view==3" [disabled]="instituciones_loading" class="btn btn-success btn-sm"
          (click)="add_contacto()"><i class="fa fa-check"></i> Agregar
          Contacto</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #alumnos_modal="bs-modal" [config]="{backdrop: 'static', keyboard:false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="mb-0"><i class="fa fa-user-md mr-2"></i>Adicionar Alumno</h5>
      </div>
      <div class="modal-body custom-modal-body fade-in">
        <div class="cover-div" *ngIf="instituciones_loading">
          <div class="sk-wave sk-primary">
            <div class="sk-rect sk-rect1 custom-loader"></div>
            <div class="sk-rect sk-rect2 custom-loader"></div>
            <div class="sk-rect sk-rect3 custom-loader"></div>
            <div class="sk-rect sk-rect4 custom-loader"></div>
            <div class="sk-rect sk-rect5 custom-loader"></div>
          </div>
        </div>
        <div [hidden]="!alumno_main_view" class="fade-in">
          <div class="col-12 text-center">
            <h4>
              Datos Generales
            </h4>
          </div>
          <form-renderer #alumno_form [config]="alumno_inputs">
          </form-renderer>
          <div class="col-md-12 pt-5">
            <div class="table-responsive">
              <table class="table">
                <thead style="background-color: #fff;">
                  <tr>
                    <th class="p-2 w-25">Nombre</th>
                    <th class="p-2 w-50">Correo</th>
                    <th class="p-2 w-25">Telefono</th>
                    <th class="p-2 text-center" style="width: 1%;">OP</th>
                  </tr>
                </thead>
                <tbody *ngIf="alumno_contacts.length > 0">
                  <tr *ngFor="let x of alumno_contacts; let i = index">
                    <th class="p-2">{{x.emergency_contact_name}}</th>
                    <th class="p-2">{{x.emergency_contact_email}}</th>
                    <td class="p-2">{{x.emergency_contact_phone}}</td>
                    <td (click)="remove_doctor_hours(i)" class="p-2" class="text-center custom-datatable-red"><i
                        class="fa fa-times mr-2 ml-2"></i></td>
                  </tr>
                </tbody>
                <tbody *ngIf="alumno_contacts.length == 0">
                  <tr [class.custom-table-error]="alumno_contacts.length == 0">
                    <th colspan="3" class="text-center text-danger p-2">No se han agregado contactos de emergencia</th>
                  </tr>
                </tbody>
              </table>
              <div class="text-center">
                <button (click)="open_add_alumno_contacto()" class="btn btn-sm btn-info"><i class="fa fa-user mr-2"></i>Agregar
                  Contacto</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="alumno_contacto_view" class="row">
          <div class="col-12">
            <form-renderer #alumno_contact_form [config]="alumno_contacto_inputs"></form-renderer>
          </div>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer text-left">
        <button *ngIf="alumno_main_view"
          class="btn btn-danger btn-sm" (click)="alumnos_modal.hide();"><i class="fa fa-times"></i> Cerrar</button>
        <button *ngIf="alumno_main_view" [disabled]="instituciones_loading" class="btn btn-success btn-sm"
          (click)="insert_alumno()"><i class="fa fa-check"></i> Registrar
          Alumno</button>
        <button *ngIf="alumno_contacto_view" [disabled]="instituciones_loading" class="btn btn-danger btn-sm"
          (click)="return_alumno_main_view()"><i class="fa fa-arrow-left"></i>
          Regresar</button>
        <button *ngIf="alumno_contacto_view" [disabled]="instituciones_loading" class="btn btn-success btn-sm"
          (click)="add_alumno_contacto()"><i class="fa fa-check"></i> Agregar
          Contacto</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #instituciones_search_modal="bs-modal" [config]="{backdrop: 'static', keyboard:false}" class="modal fade"
  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="mb-0"><i class="fa fa-filter mr-2"></i>Buscar Clientes</h5>
      </div>
      <div class="modal-body custom-modal-body fade-in">
        <form-renderer #instituciones_search_form [config]="instituciones_search_inputs">
        </form-renderer>
      </div>
      <div class="modal-footer custom-modal-footer text-left">
        <button class="btn btn-danger btn-sm" (click)="instituciones_search_modal.hide()"><i class="fa fa-times"></i>
          Cerrar</button>
        <button class="btn btn-warning btn-sm" (click)="clean_search_instituciones()"><i class="fa fa-ban"></i>
          Limpiar Filtro</button>
        <button class="btn btn-info btn-sm" (click)="search_instituciones()"><i class="fa fa-filter"></i> Buscar
          Instituciones</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODALS -->
