<!-- Head stats -->
<div *ngIf="isAdmin" class="fade-in">
  <div class="row no-gutters container-m-nx container-m-ny bg-lighter bg-white container-p-x pb-3 mb-4">
    <div class="col-6 col-sm-3 col-md pt-3 pr-4 mt-1">
      <div class="media align-items-center">
        <div class="ion ion-logo-twitter text-twitter text-large"></div>
        <div class="media-body ml-3">
          <div class="text-big font-weight-bold line-height-1">25,362</div>
          <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">FOLLOWERS</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md pt-3 pr-4 mt-1">
      <div class="media align-items-center">
        <div class="ion ion-logo-googleplus text-google text-large"></div>
        <div class="media-body ml-3">
          <div class="text-big font-weight-bold line-height-1">12,941</div>
          <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">FOLLOWERS</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md pt-3 pr-4 mt-1">
      <div class="media align-items-center">
        <div class="ion ion-logo-facebook text-facebook text-large"></div>
        <div class="media-body ml-3">
          <div class="text-big font-weight-bold line-height-1">18,665</div>
          <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">FOLLOWERS</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md pt-3 pr-4 mt-1">
      <div class="media align-items-center">
        <div class="ion ion-logo-pinterest text-pinterest text-large"></div>
        <div class="media-body ml-3">
          <div class="text-big font-weight-bold line-height-1">5,719</div>
          <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">FOLLOWERS</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md pt-3 pr-4 mt-1">
      <div class="media align-items-center">
        <div class="ion ion-logo-instagram text-instagram text-large"></div>
        <div class="media-body ml-3">
          <div class="text-big font-weight-bold line-height-1">8,636</div>
          <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">FOLLOWERS</div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Head stats -->

  <!-- Traffic chart + sources -->
  <div class="card mb-4">
    <h5 class="card-header with-elements border-0 pt-3 pb-0">
      <span class="card-header-title"><i class="ion ion-md-stats text-primary"></i>&nbsp; Traffic</span>

      <div class="card-header-elements ml-auto">
        <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="displayRange"
          [(ngModel)]="displayRangeModel">
          <label ngbButtonLabel class="btn btn-default md-btn-flat">
            <input ngbButton type="radio" [value]="1"> Month
          </label>
          <label ngbButtonLabel class="btn btn-default md-btn-flat">
            <input ngbButton type="radio" [value]="6"> 6 Months
          </label>
          <label ngbButtonLabel class="btn btn-default md-btn-flat">
            <input ngbButton type="radio" [value]="12"> Year
          </label>
          <label ngbButtonLabel class="btn btn-default md-btn-flat">
            <input ngbButton type="radio" [value]="36"> 3 Years
          </label>
        </div>
      </div>
    </h5>
    <hr class="border-light mb-0">
    <div class="row no-gutters row-bordered">
      <div class="d-flex col-md-8 col-lg-12 col-xl-8 align-items-center p-4">
        <div class="w-100" style="height: 230px">
          <canvas baseChart height="230" [datasets]="chart1Data"
            [labels]="['2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02']"
            [options]="chart1Options" [chartType]="'line'" [colors]="chart1Colors">
          </canvas>
        </div>
      </div>

      <!-- Sources -->
      <div class="col-md-4 col-lg-12 col-xl-4 px-4 pt-4">
        <div class="pb-4">
          Twitter
          <div class="float-right small mt-1">
            11,963 &nbsp;&nbsp;
            <span class="text-muted">29.77%</span>
          </div>
          <div class="progress mt-1" style="height:3px;">
            <div class="progress-bar bg-twitter" style="width: 29.77%;"></div>
          </div>
        </div>
        <div class="pb-4">
          Google+
          <div class="float-right small mt-1">
            11,963 &nbsp;&nbsp;
            <span class="text-muted">28.39%</span>
          </div>
          <div class="progress mt-1" style="height:3px;">
            <div class="progress-bar bg-google" style="width: 28.39%;"></div>
          </div>
        </div>
        <div class="pb-4">
          Facebook
          <div class="float-right small mt-1">
            9,965 &nbsp;&nbsp;
            <span class="text-muted">23.65%</span>
          </div>
          <div class="progress mt-1" style="height:3px;">
            <div class="progress-bar bg-facebook" style="width: 23.65%;"></div>
          </div>
        </div>
        <div class="pb-4">
          Pinterest
          <div class="float-right small mt-1">
            4,223 &nbsp;&nbsp;
            <span class="text-muted">10.02%</span>
          </div>
          <div class="progress mt-1" style="height:3px;">
            <div class="progress-bar bg-pinterest" style="width: 10.02%;"></div>
          </div>
        </div>
        <div class="pb-4">
          Instagram
          <div class="float-right small mt-1">
            3,437 &nbsp;&nbsp;
            <span class="text-muted">8.15%</span>
          </div>
          <div class="progress mt-1" style="height:3px;">
            <div class="progress-bar bg-instagram" style="width: 8.15%;"></div>
          </div>
        </div>
      </div>
      <!-- / Sources -->

    </div>
  </div>
  <!-- / Traffic chart + sources -->

  <div class="row">

    <!-- Charts -->
    <div class="col-sm-6 col-xl-3">

      <div class="card mb-4">
        <div class="card-body pb-3">
          <strong class="text-big">2366</strong>
          <small class="text-muted">VIEWS</small>
        </div>
        <div class="px-2">
          <div class="w-100" style="height: 35px">
            <canvas baseChart height="35" [datasets]="chart2Data"
              [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
              [options]="chart2Options" [chartType]="'bar'" [colors]="chart2Colors">
            </canvas>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-xl-3">

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
          <div>
            <div class="text-large">+39%</div>
            <div class="text-muted text-tiny">VIEWS</div>
          </div>
          <div class="w-50" style="height: 35px">
            <canvas baseChart height="35" [datasets]="chart3Data"
              [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
              [options]="chart3Options" [chartType]="'line'" [colors]="chart3Colors">
            </canvas>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-xl-3">

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
          <div>
            <div class="text-muted small">View depth</div>
            <strong class="text-large font-weight-normal">4.23</strong>
            <sup class="text-success small">+ 12%</sup>
          </div>
          <div class="w-50" style="height: 35px">
            <canvas baseChart height="35" [datasets]="chart4Data"
              [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
              [options]="chart4Options" [chartType]="'line'" [colors]="chart4Colors">
            </canvas>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-xl-3">

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
          <div>
            <div class="text-muted small">Time on site</div>
            <strong class="text-large font-weight-normal">3:44</strong>
            <sup class="text-success small">+ 2%</sup>
          </div>
          <div class="w-50" style="height: 35px">
            <canvas baseChart height="35" [datasets]="chart5Data"
              [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
              [options]="chart5Options" [chartType]="'line'" [colors]="chart5Colors">
            </canvas>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="card mb-4">
        <h6 class="card-header with-elements border-0 pr-0 pb-0">
          <div class="card-header-title">Type gadgets</div>
          <div class="card-header-elements ml-auto">
            <!-- <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="mr-3">
              <button ngbDropdownToggle class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat hide-arrow">
                <i class="ion ion-ios-more"></i>
              </button>
              <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
                <a class="dropdown-item" href="javascript:void(0)">Action 1</a>
                <a class="dropdown-item" href="javascript:void(0)">Action 2</a>
              </div>
            </div> -->
          </div>
        </h6>
        <div class="py-4 px-3">
          <div style="height:120px">
            <canvas baseChart height="120" [datasets]="chart6Data" [labels]="['Desktops', 'Smartphones', 'Tablets']"
              [options]="chart6Options" [chartType]="'pie'" [colors]="chart6Colors">
            </canvas>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="card mb-4">
        <h6 class="card-header with-elements border-0 pr-0 pb-0">
          <div class="card-header-title">New users</div>
          <div class="card-header-elements ml-auto">
            <!-- <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="mr-3">
              <button ngbDropdownToggle class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat hide-arrow">
                <i class="ion ion-ios-more"></i>
              </button>
              <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
                <a class="dropdown-item" href="javascript:void(0)">Action 1</a>
                <a class="dropdown-item" href="javascript:void(0)">Action 2</a>
              </div>
            </div> -->
          </div>
        </h6>
        <div class="pt-4">
          <div style="height:144px">
            <canvas baseChart height="144" [datasets]="chart7Data"
              [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
              [options]="chart7Options" [chartType]="'bar'" [colors]="chart7Colors">
            </canvas>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="card mb-4">
        <h6 class="card-header with-elements border-0 pr-0 pb-0">
          <div class="card-header-title">Age users</div>
          <div class="card-header-elements ml-auto">
            <!-- <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="mr-3">
              <button ngbDropdownToggle class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat hide-arrow">
                <i class="ion ion-ios-more"></i>
              </button>
              <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
                <a class="dropdown-item" href="javascript:void(0)">Action 1</a>
                <a class="dropdown-item" href="javascript:void(0)">Action 2</a>
              </div>
            </div> -->
          </div>
        </h6>
        <div class="py-4 px-3">
          <div style="height:120px">
            <canvas baseChart height="120" [datasets]="chart8Data" [labels]="['18 - 24', '25 - 34', '34 - 45', '45+']"
              [options]="chart8Options" [chartType]="'pie'" [colors]="chart8Colors">
            </canvas>
          </div>
        </div>
      </div>

    </div>
    <!-- / Charts -->

    <div class="col-md-8 col-lg-12 col-xl-9">

      <!-- Popular queries -->
      <div class="card mb-4">
        <div class="h6 card-header">Popular queries</div>
        <div class="table-responsive">
          <table class="table card-table">
            <thead>
              <tr>
                <th>Query</th>
                <th>Clicks</th>
                <th>Impressions</th>
                <th>CTR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                <td>130</td>
                <td>260</td>
                <td>16.9%</td>
              </tr>
              <tr>
                <td>Nulla id ex at odio mollis faucibus quis non odio.</td>
                <td>120</td>
                <td>240</td>
                <td>15.8%</td>
              </tr>
              <tr>
                <td>Sed commodo pharetra tellus.</td>
                <td>110</td>
                <td>220</td>
                <td>14.7%</td>
              </tr>
              <tr>
                <td>Nullam eu felis dignissim, rutrum ante at, gravida quam. Suspendisse ornare massa in leo aliquet,
                  non aliquet tellus scelerisque.</td>
                <td>100</td>
                <td>200</td>
                <td>13.6%</td>
              </tr>
              <tr>
                <td>Praesent placerat tincidunt ante, tincidunt porttitor turpis viverra quis.</td>
                <td>90</td>
                <td>180</td>
                <td>12.5%</td>
              </tr>
              <tr>
                <td>Mauris vel rhoncus velit.</td>
                <td>80</td>
                <td>160</td>
                <td>11.4%</td>
              </tr>
              <tr>
                <td>Vestibulum malesuada consectetur porttitor.</td>
                <td>70</td>
                <td>140</td>
                <td>10.3%</td>
              </tr>
            </tbody>
          </table>
          <a href="javascript:void(0)" class="card-footer d-block text-center text-body small font-weight-semibold">SHOW
            MORE</a>
        </div>
      </div>
      <!-- / Popular queries -->

    </div>
    <div class="col-md-4 col-lg-12 col-xl-3">

      <!-- Stats -->
      <div class="row">
        <div class="col-sm-4 col-md-12 col-lg-4 col-xl-12">

          <div class="card mb-4">
            <div class="card-header border-0 pb-0">Monthly clicks</div>
            <div class="card-body text-center text-success text-xlarge py-3">3,235</div>
            <div class="card-footer border-0 small pt-0">
              <div class="float-right text-success">
                <small class="ion ion-md-arrow-round-up"></small> 11.25%
              </div>
              <span class="text-muted">Total: 46,536</span>
            </div>
          </div>

        </div>
        <div class="col-sm-4 col-md-12 col-lg-4 col-xl-12">

          <div class="card mb-4">
            <div class="card-header border-0 pb-0">Monthly impressions</div>
            <div class="card-body text-center text-danger text-xlarge py-3">8,267</div>
            <div class="card-footer border-0 small pt-0">
              <div class="float-right text-danger">
                <small class="ion ion-md-arrow-round-down"></small> 5.38%
              </div>
              <span class="text-muted">Total: 20,369</span>
            </div>
          </div>

        </div>
        <div class="col-sm-4 col-md-12 col-lg-4 col-xl-12">

          <div class="card mb-4">
            <div class="card-header border-0 pb-0">Monthly avg. CTR</div>
            <div class="card-body text-center text-success text-xlarge py-3">21.73%</div>
            <div class="card-footer border-0 small pt-0">
              <div class="float-right text-success">
                <small class="ion ion-md-arrow-round-up"></small> 2.54%
              </div>
              <span class="text-muted">Total: 18.3%</span>
            </div>
          </div>

        </div>
      </div>
      <!-- / Stats -->

    </div>
  </div>
</div>

<h4 *ngIf="!isAdmin" class="media align-items-center font-weight-bold py-0 mb-3">
  <div class="media-body">
    <span class="text-muted font-weight-light"></span>{{header}}
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">{{small_text}}</small></div>
  </div>
</h4>

<div *ngIf="!isAdmin" class="fade-in">
  <datatable #patients_datatable_ref [options]="patients_datatable" [loading]="patients_datatable_loading"
          [data_array]="patients" (option_event)="select_patient($event)">
  </datatable>
</div>

<div bsModal #instituciones_modal="bs-modal" [config]="{backdrop: 'static', keyboard:false}" class="modal fade"
  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="mb-0"><i class="fa fa-graduation-cap mr-2"></i>Seleccione la institución donde labora</h5>
      </div>
      <div class="modal-body custom-modal-body fade-in">
        <datatable #institutions_datatable_ref [options]="instituciones_datatable" [loading]="instituciones_datatable_loading"
          [data_array]="institutions" (option_event)="select_institution($event)">
        </datatable>
      </div>
    </div>
  </div>
</div>

<div bsModal #consulta_modal="bs-modal" [config]="{backdrop: 'static', keyboard:false}" class="modal fade" tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="mb-0"><i class="fa fa-filter mr-2"></i>Registrar Consulta</h5>
      </div>
      <div class="modal-body custom-modal-body fade-in">
        <div class="container-m-nx container-p-x pt-2 text-right mb-2">
          <button *ngIf="step !== 1" (click)="return()" class="mb-2 ml-2 btn btn-sm rounded-pill btn-danger"><i
              class="fa fa-arrow-left mr-2"></i>Regresar</button>
        </div>
        <div *ngIf="step === 1" class="row">
          <div class="col-12">
            <h5 class="text-center">Datos de la Consulta</h5>
            <form-renderer #consultas_form [config]="consulta_inputs"></form-renderer>
            <button class="float-right btn btn-success btn-sm" (click)="register_form_data()"><i class="fa fa-check"></i>Aceptar</button>
          </div>
        </div>
        <div *ngIf="step === 2" class="row">
          <div class="col-12">
            <h5 class="text-center">A continuacion porfavor seleccione los productos utilizados</h5>
            <ul class="nav nav-tabs nav-responsive-md">
              <li (click)="show_medicamentos()" class="nav-item" style="cursor: pointer;">
                <span class="nav-link" [class.active]="show_meds"><b
                    [class.text-primary]="show_meds">Medicamentos</b></span>
              </li>
              <li (click)="show_insumos()" class="nav-item" style="cursor: pointer;">
                <span class="nav-link" [class.active]="!show_meds"><b [class.text-primary]="!show_meds">Insumos</b></span>
              </li>
            </ul>
            <div class="custom-nav-content" *ngIf="show_meds">
              <div class="fade-in">
                <div class="row">
                  <div class="col-12">
                    <div class="fade-in">
                      <datatable #medicamentos_datatable_ref [options]="medicamentos_datatable"
                        [loading]="medicamentos_datatable_loading" [data_array]="medicamentos"
                        (option_event)="medicamentos_datatable_events($event)">
                      </datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-nav-content" *ngIf="!show_meds">
              <div class="fade-in">
                <div class="container-m-nx container-p-x pt-2 text-right mb-2">
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="fade-in">
                      <datatable #insumos_datatable_ref [options]="insumos_datatable" [loading]="insumos_datatable_loading"
                        [data_array]="insumos" (option_event)="insumos_datatable_events($event)">
                      </datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selected_products.length > 0" class="d-flex justify-content-center">
              <div class="card">
                <div class="card-content mt-4 ml-4 mb-4 mr-4">
                  <form role="form" novalidate="novalidate" #inventory_in_form="ngForm" autocomplete="off">
                    <div class="row" *ngFor="let product of selected_products; let i = index">
                      <div class="d-flex align-items-center col-8">
                        <h6>{{product.nombre}} - {{product.nombre_comercial}} - {{product.presentacion}}</h6>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label class="form-label"><i class="fa fa-asterisk text-danger mr-2"></i>Cantidad</label>
                          <input #quantity="ngModel" name="used{{i}}" [placeholder]="'- Valor -'" [(ngModel)]="product.used"
                            [textMask]="{mask: integer_mask}" type="text" class="form-control"
                            [class.is-invalid]="quantity.invalid && submitted" [required]="true" [disabled]="false"
                            pattern="^[+-]?(\d{1,3}(,\d{3})*(\.\d+)?)$">
                          <small *ngIf="quantity.errors" class="invalid-feedback"><i
                              class="fa fa-exclamation-triangle mr-1"></i>
                            <span *ngIf="quantity.errors.required">El campo es requerido</span>
                            <span *ngIf="quantity.errors.pattern">Formato Inválido</span>
                          </small>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer text-left">
        <button class="btn btn-danger btn-sm" (click)="hide_modal()"><i class="fa fa-times"></i>
          Cerrar</button>
        <button *ngIf="step === 2" class="btn btn-success btn-sm" (click)="insert_consulta()"><i class="fa fa-check"></i>
          Registrar</button>
      </div>
    </div>
  </div>
</div>
